.buttons {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 500px;
    height: 500px;
    margin: auto;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.operators {
    display: grid;
    grid-template-columns: 1fr;
}

.number{
    width: 100%;
    height: 100px;
    
}

.remove{
    width: 100%;
    height: 100px;
}

.equals{
    width: 100%;
    height: 100px;
}

.operator{
    width: 100%;
    height: 100px;
}