.buttons {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 900px;
    height: 500px;
    margin: auto;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.operators {
    display: grid;
    grid-template-columns: 1fr;
}


/* Buttons */
.number{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 30px;
}

.remove{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 30px;
}

.equals{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 30px;
}

.operator{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 30px;
}

/* Display styling*/

.display {
    width: 900px;
    height: 250px;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    
}

.text {
    align-items: center;
    text-align: center;
}

.text p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    margin: 3%;
    font-size: 2em;
}