/* Animation keyframes for fade-in */

@keyframes appear{
    from {
        opacity: 0;
        transform: translateX(-50vw);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear2{
    from {
        opacity: 0;
        transform: translateX(50vw);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear3{
    from {
        opacity: 0;
        scale: 0.9;
        
    }

    to {
        opacity: 1;
        scale: 1;
        
    }
}

/* Card styling */

.card {
    display: block;
    background-color: rgba(255, 255, 255, 0.023);
    margin: 1.5em;
    border-radius: 30px;
    position: relative;
    min-height: 400px;
}

.card p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin: 3%
}

.card h2 {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.9);
    margin: 3%
}

.card img {
    border-radius: 30px;
}


.card-content {
    padding: 6%;
    justify-content: center;
}

.image-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.image-wrapper img {
    border-radius: 30px;
    max-width: 90%;
}



.projects-header {
    color: white;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 2em;
    text-align: left;
    margin-left: 1em;

    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.timeline-indicator {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    margin: 3%
}





/* Section specific styling */

.aimify-overview {
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
    grid-template-rows: auto;

    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;

    background-color: rgba(255, 255, 255, 0.023);
    
    border-radius: 30px;

    margin: 3%;
    margin-top: 1%;
    margin-bottom: 1%;

    min-height: 50vh;
}

.shelf-overview {
    display: grid;
    grid-template-columns: 1.75fr 1.25fr;
    grid-template-rows: auto;

    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 60%;

    background-color: rgba(255, 255, 255, 0.023);
    
    border-radius: 30px;

    margin: 3%;
    margin-top: 1%;
    margin-bottom: 1%;

    min-height: 50vh;
}

.fletchVR-overview {
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
    grid-template-rows: auto;

    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;

    background-color: rgba(255, 255, 255, 0.023);
    
    border-radius: 30px;

    margin: 3%;
    margin-top: 1%;
    margin-bottom: 1%;

    min-height: 50vh;
}

.patch-overview {
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
    grid-template-rows: auto;

    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;

    background-color: rgba(255, 255, 255, 0.023);
    
    border-radius: 30px;

    margin: 3%;
    margin-top: 1%;
    margin-bottom: 1%;

    min-height: 50vh;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;

    background-color: rgba(255, 255, 255, 0.023);
    
    border-radius: 30px;

    margin: 3%;
    margin-top: 1%;
    margin-bottom: 1%;

    min-height: 35vh;
}

.projects-grid a {
    text-decoration: none;
    scale: 0.96;
}

.projects-grid a:hover {
    scale: 1;
    transition: 0.3s;
}

/* Responsive design */

@media (max-width: 1000px) {
    .aimify-overview{
        grid-template-columns: 1fr;
        
    }
    .shelf-overview{
        grid-template-columns: 1fr;
        
    }
    .fletchVR-overview{
        grid-template-columns: 1fr;
        
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .patch-overview {
        grid-template-columns: 1fr;
    }
    
}



/* Simple divider between content sections */

.divider {
    display: flex;
    height: 8vh;
}


/* Footer section */

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 1em;
}

footer p {

    
    color: rgba(255, 255, 255, 0.7);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    
    text-align: center;
    margin: 0;
    padding: 0;
}

/* \projects\index.html specific sections */