body {
    margin: 0;
    background-color: #1f2123;
    /*alternative: #1f2123*/
    /*#242530*/
}

img {
    max-width: 100%;
    height: auto;
}

/*
* {
    border: 1px solid black;
}

*/

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin: 3%
}