.navbar {
    
    height: 8vh;
    position: fixed;
    width: 100%
}

.navbar-content {

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

li {
    list-style: none;
    display: inline-block;
    
}

.navbar-link {
    margin-left: 1em;
    margin-right: 1em;
}

.logo {
    display: block;
    max-height: 100%;
}