.projects-hero {
    height: 30vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    padding-bottom: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;

    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item h1 {
    color: white;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 5em;
    text-align: center;

    margin: auto
}

.item p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;

    margin: auto;
}

@media (max-width: 1000px) {
    .projects-hero {
        grid-template-columns: 1fr;
    }
}


/*
.projects-hero * {
    border: 1px solid yellow;
}
*/
